[[source]]
name		= "pypi"
url			= "https://pypi.org/simple"
verify_ssl	= true

[requires]
python_version			= "3.9"

[packages]
Django					= ">=4.1.5"
django-environ          = ">=0.9.0"
requests				= ">=2.28.2"
martor					= ">=1.6.16"
pypandoc				= ">=1.10"
termcolor				= ">=2.2.0"
cairosvg				= ">=2.6.0"
django-bleach           = ">=3.0.1"
django-extensions       = ">=3.2.1"
gunicorn                = ">=20.1.0"
django-taggit           = ">=3.1.0"
django-sendfile2        = ">=0.7.0"
django-autocomplete-light = "*"
django-grappelli = "*"

[dev-packages]
werkzeug = "*"
ipdb = "*"
pillow = "*"
pylint = "*"
mypy = "*"
autopep8 = "*"
